@import "tailwindcss";

:root {
	/* ===== BRAND COLORS ===== */

	--color-primary: rgb(71, 19, 150); /* Primary Button, Active Menu, Link */
	--color-secondary: #b13bff; /* Hover, Badge, Accent Element */
	--color-accent: #ffcc00; /* CTA Highlight, Notification, Important Info */
	--color-dark: #090040; /* Navbar, Sidebar, Footer, Hero Background */

	/* ===== SURFACE COLORS ===== */

	--color-panel: #14104f; /* Card, Panel, Modal */
	--color-panel-hover: #1d1666; /* Hover Card */

	/* ===== TEXT COLORS ===== */

	--color-heading: #ffffff; /* Judul */
	--color-text: #d8d7e8; /* Isi Text */
	--color-muted: #8f8cb3; /* Text Secondary */

	/* ===== STATUS COLORS ===== */

	--color-success: #22c55e;
	--color-warning: #ffcc00;
	--color-danger: #ef4444;

	/* ===== BORDER COLORS ===== */

	--color-border: #2a236d;
	--color-border-active: rgb(177, 59, 255);
}

@theme {
	/* ===== BRAND COLORS ===== */

	--color-primary: #471396; /* Primary Button, Active Menu, Link */
	--color-secondary: #b13bff; /* Hover, Badge, Accent Element */
	--color-accent: #ffcc00; /* CTA Highlight, Notification, Important Info */
	--color-dark: #090040; /* Navbar, Sidebar, Footer, Hero Background */

	/* ===== SURFACE COLORS ===== */

	--color-panel: #14104f; /* Card, Panel, Modal */
	--color-panel-hover: #1d1666; /* Hover Card */

	/* ===== TEXT COLORS ===== */

	--color-heading: #ffffff; /* Judul */
	--color-text: #d8d7e8; /* Isi Text */
	--color-muted: #8f8cb3; /* Text Secondary */

	/* ===== STATUS COLORS ===== */

	--color-success: #22c55e;
	--color-warning: #ffcc00;
	--color-danger: #ef4444;

	/* ===== BORDER COLORS ===== */

	--color-border: #2a236d;
	--color-border-active: #b13bff;

	/* ===== animation ===== */
	--animate-slider-left: slider-left linear infinite;
	--animate-slider-right: slider-right linear infinite;
	--animate-bounce-skill: bounce-skill 0.6s ease-in-out infinite;

	@keyframes slider-left {
		0% {
			transform: translateX(100vw);
		}
		100% {
			transform: translateX(-300px);
		}
	}

	@keyframes slider-right {
		0% {
			transform: translateX(-300px);
		}
		100% {
			transform: translateX(100vw);
		}
	}
	@keyframes bounce-skill {
		0%,
		100% {
			transform: translateY(0px) scale(1);
		}
		30% {
			transform: translateY(-12px) scale(1.05);
		}
		50% {
			transform: translateY(-6px) scale(1.02);
		}
		70% {
			transform: translateY(-10px) scale(1.04);
		}
	}
}

@layer base {
	* {
		margin: 0;
		padding: 0;
	}
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	input,
	textarea,
	select,
	button {
		outline: none;
	}
	input {
		line-height: normal;
	}
	label,
	button {
		cursor: pointer;
	}
	a {
		text-decoration: none;
	}
	img {
		display: block;
		max-width: 100%;
	}
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
		box-sizing: border-box;
		overflow-x: hidden;
	}
}
